.buscador{
    margin-top: 3%;  
}
.cont-prod  {
    display: flex;
    justify-content: space-around;
}
.producto{
    justify-content: center;
    text-align: center;
    background-color: white;
    margin-top: 3%;
}
.img-prod{
    width: 50%;
}